* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.body {
  background-image: url(./imagenes/laptop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 0.5rem white;
}

.contenedor_principal {
  background-color: #0a0a237d;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cronometro {
  font-size: 10rem;
  user-select: none;
}

.contenedor_interno {
  width: 50rem;
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 139, 0.329);
  box-shadow: 0 0 0.7rem black;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.contenedor_botones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem;
}

.boton {
  width: 20rem;
  height: 6rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 1rem;
  background-color: #1b1b327e;
  box-shadow: 0 0 0.5rem black;
  border-style: none;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.boton.iniciar:hover {
  background-color: dodgerblue;
  box-shadow: 0 0 0.5rem dodgerblue;
}
.boton:hover {
  background-color: green;
  box-shadow: 0 0 0.5rem green;
}
.pausar{
  background-color: rgba(165, 42, 42, 0.505);
  box-shadow: 0 0 .5rem black;
}

@media (max-width: 48rem) {
  #cronometro {
    font-size: 5rem;
  }
  .contenedor_interno {
    width: 95%;
  }
}
